body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: sans-serif;
  background-image: url(./img/mario-bg.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom;
}

form{
  padding: 20px;
  margin-top: 60px;

}

form button, form h5{
  margin: 20px 0px;
}

